In [2]:
nama = input("Siapa Nama Kamu ")
umur = input("Berapa Umur Kamu ")

#Menampilkan output
print("Hello ",nama,"umur kamu adalah ",umur,"tahun")

Siapa Nama Kamu tia
Berapa Umur Kamu 23
Hello  tia umur kamu adalah  23 tahun

In [4]:
print ("hello world")
print ("mari belajar python")

hello world
mari belajar python

In [7]:
nama_variabel = "belajar python"
print ("Hello world!")
print ("mari ",nama_variabel)

Hello world!
mari  belajar python

In [8]:
bhs = "python"
print("Belajar "+bhs)

Belajar python

In [9]:
nama = input("nama ")
print("hello {} apa kabar ".format(nama))

nama budi
hello budi apa kabar

In [11]:
nama_mu = input("nama kamu ")
nama_dia = input("nama dia ")
print("{} dan {} sepertinya pasangan yang serasi ".format(nama_mu,nama_dia))

nama kamu joko
nama dia tya
joko dan tya sepertinya pasangan yang serasi

In [12]:
nama = input("nama anda")
print("nama kamu adalah %s "%nama)

nama andajoko
nama kamu adalah joko

In [16]:
angka1 = float(input("angkat 1 "))
angka2 = float(input("angkat ke 2 "))
angka3 = float(input("angkat ke 3 "))
angka4 = float(input("angkat ke 4 "))
angka5 = float(input("angkat ke 5 "))

rata2 = (angka1+angka2+angka3+angka4+angka5)/5
print("maka nilai rata-rata adalah ",rata2)

angkat 1 4
angkat ke 2 4
angkat ke 3 4
angkat ke 4 3
angkat ke 5 3
maka nilai rata-rata adalah  3.6